/*Select the body element and set the font-family property to "Arial, sans-serif"
Set the font-size to 38px for all H1 elements
Set the font-size to 32px for all H2 elements
Add a class to your unordered list of ingredients called "ingredients-list"
Add a list-style property with a value of "square inside" to all elements with the "ingredients-list" class
Add another list-style of your choosing to all ordered list elements
Change the width of the logo image to 100px by selecting all img elements that are immediate children of the header element
Hint: Use >
Select all anchor elements within list elements within unordered list elements and remove their underlines. Also change their color to inherit.
Give your whole recipe page a nice background-color
Set the line-height to 1.5 in your css_reset file*/

body {
  font-family: Arial, sans-serif;
  background-color: rgb(254, 239, 181);
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

.ingredients-list {
  list-style: square inside;
}

ol {
  list-style: cjk-ideographic
}

header > img {
  width: 100px
}

ol li a {
  color: inherit;
}

input[type=radio] {
  cursor: pointer;
  outline: none;
}

input[type=submit] {
  cursor: pointer;
  outline: none;
}

select {
  cursor: pointer;
  outline: none;
}
